/* HomePageStyle.css */
.home-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.icon-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  transform: translateX(-50px);
  visibility: hidden;
}

.icon {
  font-size: 3rem;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes slideOut {
  to {
    opacity: 0;
    transform: translateX(-50px);
    visibility: hidden;
  }
}
